# Flowcase Environment Variables
# Copy this file to .env and fill in the values

# Port to expose Flowcase on
PORT=80

# Custom Container Names (Optional)
WEB_CONTAINER_NAME=flowcase-web
NGINX_CONTAINER_NAME=flowcase-nginx
FLOWCASE_NETWORK=flowcase_default_network

# Enable debug mode (1 for true, 0 for false)
FLASK_DEBUG=0
